// Component-specific overrides for the directive test demos

ngui-auto-complete,
input:not([mat-input]) {
  display: block;
}

// Limit max-height on the first two string examples
.demo-1 .ngui-auto-complete > ul {
  max-height: 120px;
  overflow-y: auto;
}
