@keyframes slideDown {
  0% {
    transform:  translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.auto-complete input {
  outline: none;
  border: 2px solid transparent;
  border-width: 3px 2px;
  margin: 0;
  box-sizing: border-box;
  background-clip: content-box;
}

.auto-complete ul {
  background-color: #fff;
  margin: 0;
  width : 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  animation: slideDown 0.1s;
}

.auto-complete ul li {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
}

.auto-complete ul li.selected {
  background-color: #ccc;
}

.auto-complete ul li:last-child {
  border-bottom: none;
}

.auto-complete ul li:hover {
  background-color: #ccc;
}
